<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DVerticalLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9A95D8D1EEFBD3D00BC0975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A95DA61EEFBD3D00BC0975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9A95DB11EEFBD3D00BC0975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
